<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Football Cartoon" src="./assets/football.jpg">
</div>

<div *ngFor="let item of games">
  <p><strong>Home Team:</strong> {{item.hnn}}</p>
  <p><strong>Visit Team:</strong> {{item.vnn}}</p>
  <p><strong>Date:</strong> {{item.eid}}</p>
</div>

<div *ngFor="let item of gameReturnedBack">
  <div id="container">
    <h2>{{item.posteam}} (time taken: {{item.postime}}, #plays: {{item.numplays}})</h2>
    <div id="{{item.posteam}}{{item.postime}}">
      <ul class="list-group list-group-flush">
        <li *ngFor="let key of Object.keys(item.plays)" class="list-group-item">
            {{item.plays[key].desc}} <strong>{{item.plays[key].note}}</strong>
        </li>
      </ul>
      <strong>
       Result: {{item.result}} ({{item.qtr}} Quarter)
      </strong>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
