<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-cover"></div>
<div id="main-container">

  <div class="jumbotron">
    <h1 class="display-4">NFL Scoreboard</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  

  <div class="card">
      <div class="card-header">
          Scoring Summary
      </div>
      <ul *ngFor="let item of scoringSummary" class="list-group list-group-flush">
          <li class="list-group-item">
          {{item.desc}}
          </li>
      </ul>
  </div>

  <div *ngFor="let item of gameReturnedBack">
    <div class="container">
      <h2>{{item.posteam}} (time taken: {{item.postime}}, # of plays: {{item.numplays}})</h2>
      <div id="{{item.posteam}}{{item.postime}}">
        <ul class="list-group list-group-flush">
          <li *ngFor="let key of Object.keys(item.plays); trackBy: trackElement" class="list-group-item">
              {{item.plays[key].desc}} <strong>{{item.plays[key].note}}</strong>
          </li>
        </ul>
        <strong>
          Result: {{item.result}} ({{item.qtr}} Quarter)
        </strong>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
